  

<header>
       <div class="row">
	        
	    <ul class="main-nav">
		   <li class="active"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><b>ABOUT</b></a></li>
		   <li><a routerLink="books" routerLinkActive="active"><b>VIEW BOOKS</b></a></li>
		   <li><a routerLink="/addBook"  class="btn btn-xs btn-primary"><b>ADD BOOK</b></a></li>
		   <li><a routerLink="/deleteBook"  class="btn btn-xs btn-primary"><b>DELETE BOOK</b></a></li>
		</ul>   
	  
	   </div>
	   
	</header> 
	   <!--
	   <div class="logo">
		      <img src="logo.png">
		   </div>
       <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a>&nbsp; &nbsp; &nbsp; 
       <a routerLink="books" routerLinkActive="active">View Books</a>&nbsp; &nbsp; &nbsp; 
	   <a routerLink="/addBook"  class="btn btn-xs btn-primary">Add Book</a>&nbsp; &nbsp; &nbsp; 
	   <a routerLink="/deleteBook"  class="btn btn-xs btn-primary">Delete Book</a>
	   
	   -->
	   <router-outlet></router-outlet>
   
	







